<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Livro</title>
    <link rel="stylesheet" href="../static/style_add_book.css">
</head>
<body>
    <div class="container">
        <h1>Adicionar Livro</h1>
        <form action="{{ url_for('books.add_book') }}" method="post">
            <input type="text" name="titulo" placeholder="Título" required>
            <input type="text" name="autor" placeholder="Autor" required>
            <input type="number" name="ano_publicacao" placeholder="Ano de Publicação" required>
            <input type="number" name="preco" placeholder="Preço" required>
            <input type="submit" value="Adicionar Livro">
        </form>
        <a href="{{ url_for('books.list_books') }}">Voltar para a lista de livros</a>
    </div>
</body>
</html>
