<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <link rel="stylesheet" href="../static/books.css">
</head>
<body>
    <h1>Lista de Livros</h1>

    <div class="container">
        <form action="{{ url_for('books.search_books') }}" method="get">
            <input type="text" name="query" placeholder="Pesquisar livros" required>
            <input type="submit" value="Buscar">
        </form>

        <a href="{{ url_for('books.add_book') }}">Adicionar Livro</a>

        <ul>
            {% for book in books %}
                <li>
                    <span>{{ book.titulo }} - {{ book.autor }}</span>
                    <div>
                        <a href="{{ url_for('books.update_book', book_id=book.id) }}">Editar</a>
                        <form action="{{ url_for('books.delete_book', book_id=book.id) }}" method="post" style="display:inline;">
                            <input type="submit" value="Deletar">
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('books.list_books', page=page-1) }}">« Anterior</a>
            {% endif %}
            <span>Página {{ page }} de {{ total_pages }}</span>
            {% if page < total_pages %}
                <a href="{{ url_for('books.list_books', page=page+1) }}">Próximo »</a>
            {% endif %}
        </div>
    </div>
</body>
</html>
